<script>

    let history = [
        "oui",
        "non",
    ]
</script>

<ul>
    {% for item in history %}
        <h1>{{ item }}</h1>
    {% endfor %}
</ul>

<style lang="scss">
    ul {
        display: flex;
    }
</style>